.introPanelContainer{

}
.introPanel{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    transition: box-shadow .3s;
}

.introPanel:hover{
    box-shadow: 0 0 11px rgba(33,33,33, .2); 
}
.introPhoto{
    width: 100%;
}
.introMessage{
    display: inline-block;
    text-align: center;
}
.introTitle{
    display: inline-block;
    width: 100%;
}
.introDescription{
    display: block;
    width: 100%;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-top: 30px;
    margin-bottom: 30px;
}