.gameScore {
    display: inline-block;
    height: max-content;
    width: max-content;
    border: 1px solid rgb(223, 225, 229);
    border-radius: 20PX;
    margin: 20px 20px;
    padding: 10px;
}
.scoreContainer{
    display: inline;
}

.awayScoreContainer{
    float: left;
}
.scoreDivider{
    float: left;
    margin-top: 95px;
    margin-right: 25px;
    margin-left: 25px;
}
.logo{
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}
.teamScore{
    text-align: center;
}
.teamName{
    text-align: center;
}
.homeScoreContainer{
    display: inline;
}